{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{title}}{% else %}{% trans "Activity Logger" %}{% endif %}</title>
  {% block styles %}
<link href="{% static 'activity_logger/stylesheets/styles.css' %}" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<h1 id="page-title"><a href="{% url 'activity_logger/dashboard' %}">Activity Logger</a>: {{title}}</h1>
  <div id="main">{% block main %}{% endblock %}</div>
<div id="footer">
<a href="https://github.com/devalfrz/django-activity-logger" target="_blank">Django Activity Logger</a>
</div>
{% block scripts %}{% endblock %}
</body>
</html>

