body.dashboard{
  h2{
    text-align: center;
  }
  .locations,.traffic{
    text-align: center;
  }
  .map-iframe{
    width: 100%;
    border: none;
    height: 500px;
  }
  table.graph{
    display: inline;
    tr{
      td{
        vertical-align: bottom;
        width: 25px;
        .y{
          width: 100%;
          background-color: teal;
          display: inline-block;
        }
        table.scale{
          display: inline-block;
          tr td{
            vertical-align:top;
          }
        }
      }
    }
  }
}
